extends layout

block metadata
    title Erreur - Pierre CLÉMENT
    meta(name="description", content="Erreur 403")
    
block title
    | Erreur
    
block content
    .text-center
        img(src="/imgs/autre-erreur.png", title="Cat cent trois")
        p
            | Une erreur est intervenue. Merci de réessayer ultérieurement.
        a(href="/", title="Retour à l'index") Revenir sur ma petite personne
