p
    |Thèse non soutenue
    br
    b
        |Sujet :
    |&nbsp;segmentation en locuteurs des fichiers vidéos hétérogènes issus du web.
p
    |Le but de ma thèse était d'analyser des fichiers vidéos de tout type pris sur internet afin d'en déduire qui parle quand, sans identifier les locuteurs.
b
    |Publication :
|&nbsp;
a(target="_self", href="goodies/icassp2011.pdf", title="Téléchargez l'article complet en anglais") Speaker diarization of heterogeneous web video files: A preliminary study [en] - ICASSP 2011 - Prague
br
b
    |Enseignement à l’Université d’Avignon :
ul
    li
        |Initiation à la programmation - L1
    li
        |Base de données et interfaces web - L3
    li
        |Remise à niveau web - M1
    li
        |Programmation Objet Java - M1