span Mise en place d’un système de cartographie afin d'aider les cliniciens à suivre l'évolution de certaines pathologies rares.
p
    b
        |Publications :&nbsp;
    a(target="_self", href="/goodies/RJCP2009-282.pdf", title="Téléchargez l'article complet") Méthodes objectives issues du traitement automatique de la parole pour la recherche de zones “déviantes” dans la parole dysarthrique - RJCP 2009 - Avignon