span Core développeur sur un CMS multisite.
ul
   li
      |Développement de 2 jeux pour smartphones iOS et Android pour Dell et Intel
   li
      |Modélisation, conception et développement d’une plateforme de génération et d’administration de sites internet
   li
      |Responsabilité d’un projet impliquant la plateforme et des services web