span Développeur sur les différents sites de l'entreprise.
ul
    li
        |Dev du système de génération de rapport pour certaines sociétés de collection de droits
    li
        |Dev de l'outil de génération des pistes personnalisées en HTML 5
    li
        |Dev du système d'habillage automatique des karaokés
    li
        |Dev d'un système d'envoi/gestion des mixes d'essai des producteurs
    li
        |Dev d'un tableau de bord pour les producteurs avec des informations qualitatives sur leurs productions
    li
        |Dev du système de recrutement d'ingénieur du son
    li
        |Portage en MVC du site pour les affiliés
    li
        |Dev de l'API REST pour les affiliés
    li
        |Maintien des players Flash de karaoké et de l'outil de génération de pistes personnalisées
    li
        |Refactoring pour migrer le code historique de l'entreprise vers le framework mis en place, dev. sur les front et back office