span Développeur sur différents sites et applications d'AXA.
p 
    | Essentiellement développeur Javascript sur des sites et applications intranet/extranet/internet d'AXA.
    | Je travaille également en relation avec l'équipe ergo/design pour prendre le relais niveau intégration et design, et être l'interlocuteur privilégié de l'équipe de dev sur ces points.
    | Plus généralement, mon expertise technique et mon travail de veille me permettent d'être force de proposition sur mon domaine, afin de tirer le meilleur profit de nos développements et technologies.
    | J'essaie d'ailleurs de partager un maximum autour du front avec les autres développeurs par le biais de présentations que j'essaie de tenir régulièrement.
    | Enfin, j'accorde une grande importance à la diffusion des compétences, afin de permettre à mes collègues de monter en compétences et gagner en autonomie sur mes domaines de compétences. Je prends le temps nécessaire pour expliquer les notions et points techniques à tout collègue le demandant. Je n'hésite pas non plus à faire des présentations et ateliers techniques en comité plus restreint sur des points très précis si nécessaire.